AtomPair CA    2 CA  248 HARMONIC 5.4632 0.2000 # C : C, C : C
AtomPair CA   19 CA   65 HARMONIC 5.8292 0.3000 # Y : Y, L : L
AtomPair CA   19 CA  263 HARMONIC 7.5378 0.4000 # Y : Y, A : S
AtomPair CA   23 CA   62 HARMONIC 5.0435 0.2000 # F : F, V : V
AtomPair CA   26 CA  270 HARMONIC 4.4531 0.2000 # G : G, C : C
AtomPair CA   29 CA  273 HARMONIC 6.0280 0.3000 # G : G, P : P
AtomPair CA   30 CA   55 HARMONIC 4.9247 0.2000 # N : N, S : A
AtomPair CA   34 CA   52 HARMONIC 5.5861 0.3000 # I : I, L : I
AtomPair CA   36 CA  283 HARMONIC 6.7977 0.3000 # V : T, F : F
AtomPair CA   50 CA  104 HARMONIC 6.6382 0.3000 # Y : Y, I : I
AtomPair CA   54 CA   97 HARMONIC 5.5031 0.3000 # L : L, S : S
AtomPair CA   55 CA  272 HARMONIC 7.7964 0.4000 # S : A, N : N
AtomPair CA   58 CA  269 HARMONIC 5.7354 0.3000 # D : D, C : C
AtomPair CA   64 CA   86 HARMONIC 6.8251 0.3000 # T : T, V : L
AtomPair CA   83 CA  160 HARMONIC 5.3114 0.2000 # C : C, C : C
AtomPair CA   88 CA  146 HARMONIC 5.2352 0.3000 # V : A, F : F
AtomPair CA   96 CA  138 HARMONIC 5.1194 0.2000 # S : A, A : A
AtomPair CA   98 CA  185 HARMONIC 6.9048 0.4000 # V : L, P : P
AtomPair CA  106 CA  192 HARMONIC 6.7195 0.3000 # L : L, C : C
AtomPair CA  174 CA  233 HARMONIC 9.26   1.0000 # Q : N, I : L
AtomPair CA  182 CA  226 HARMONIC 9.75   1.0000 # L : F, W : W
AtomPair CA  189 CA  219 HARMONIC 7.2473 0.4000 # I : I, I : V
AtomPair CA  193 CA  216 HARMONIC 7.6524 0.4000 # Y : Y, V : I
AtomPair CA  218 CA  275 HARMONIC 6.1918 0.3000 # L : V, L : L
AtomPair CA  222 CA  268 HARMONIC 7.1645 0.4000 # F : F, H : H
AtomPair CA  226 CA  265 HARMONIC 5.1367 0.2000 # W : W, A : A
AtomPair CA  229 CA  261 HARMONIC 4.8845 0.2000 # Y : Y, T : T
AtomPair CA  233 CA  258 HARMONIC 7.2184 0.4000 # I : L, I : L
AtomPair CA   53 CA  130 HARMONIC 7.2    0.6
AtomPair CA  144 CA  176 HARMONIC 9.6    0.6
AtomPair CA  134 CA  185 HARMONIC 13.4   1.0
AtomPair CA   68 CA  255 HARMONIC 17.50  1.0
AtomPair CA   90 CA  229 HARMONIC 16.5   1.0
AtomPair CA  108 CA  214 HARMONIC 12.9   1.0

AtomPair CA   83 CA  160 HARMONIC 5.75   0.5 #SSBOND ECL2
AtomPair CA    2 CA  248 HARMONIC 5.75   0.5 #SSBOND NC

# 71CG_299OG.covar.constraints
AtomPair CG 71    OG 299 FLAT_HARMONIC 1.75 0.2 1.75